[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.116.1"
pydantic = "==2.11.7"
redis = "~=5.0.0"
uvicorn = "==0.35.0"

[dev-packages]
pytest = "9.0.3"
black = "26.3.1"
pylint = "==3.2.7"
isort = "==5.13.2"
flake8 = "==7.1.1"
pre-commit = "==3.8.0"

[scripts]
lint-fix = "pre-commit run --all-files --hook-stage push -c ./config/.pre-commit-config.yaml"
app-local = "uvicorn app.main:app"

[requires]
python_version = "3.13"